
@media (min-width: 768px) {
	.rb-modal-login-1 .modal-dialog {
		width: 400px!important;
	}
	.btn-twitter,
	.btn-facebook,
	.btn-google-plus {
	    padding-left: 90px;
	    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	    text-align: left;
	}
	.rb-modal-login-2 .modal-dialog {
		width: 760px!important;
	}
	.rb-modal-login-2 .rb-form {
	padding-right: 30px
	}
	.rb-modal-login-2 .rb-social {
		padding-left: 30px
	}
	.rb-modal-login-2 .rb-orbullet {
		position: absolute;
		top: 95px;
		right: -17px;
	}
	.rb-modal-login-2 .rb-orbullet-divider {
		border-right: 1px solid #dfdfe0;
		position: relative;
	}
}

@media (max-width: 767px) {
	.container {
		padding-right: 0;
		padding-left: 0;
	}
	.rb-modal-login-2 .rb-orbullet {
		position: relative;
		top: -15px;
	}
	.rb-modal-login-2 .rb-orbullet-divider {
		border-right: 0;
		border-top: 1px solid #dfdfe0;
		position: relative;
		top: 20px;
	}
}

.rb-modal-login-1 .modal-footer {
	margin-top: -15px;
}
.rb-modal-login-2 .modal-footer {
	margin-top: -5px;
}
.rb-modal-login-1 .rb-orbullet {
	margin: 0 auto 10px auto;
	background-color: #dfdfe0;
	color: #6e6e70;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	position: relative;
	z-index: 100;
}
.rb-modal-login-1 .rb-orbullet-divider {
	border-bottom: 1px solid #dfdfe0;
    bottom: 25px;
    position: relative;
}
.rb-modal-login-2 .rb-orbullet {
	margin: 0 auto 10px auto;
	background-color: #dfdfe0;
	color: #6e6e70;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	z-index: 100;
}
.rb-modal-login-1 .form-control,
.rb-modal-login-2 .form-control {
	font-size: 13px;
}

.btn-facebook {
    *background-color: #344d83;
    background-color: #385490;
    background-image: linear-gradient(top, #3b5998, #344d83);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #3b5998', endColorstr=' #344d83', GradientType=0);
}
.btn-twitter {
    *background-color: #009dd8;
    background-color: #00a6e5;
    background-image: linear-gradient(top, #00aced, #009dd8);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #00aced', endColorstr=' #009dd8', GradientType=0);
}
.btn-google-plus {
    *background-color: #DB4A37;
    background-color: #DB4A37;
    background-image: linear-gradient(top, #DB4A37, #BE2F1F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #DB4A37', endColorstr=' #BE2F1F', GradientType=0);
}

.btn-twitter,
.btn-facebook,
.btn-google-plus {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.btn-twitter:hover,
.btn-facebook:hover,
.btn-google-plus:hover {
    color: #fff;
}

.input-icon {
	position: relative;
}
.input-icon i {
	color: #ccc;
	display: block;
	position: absolute;
	right:10px;
	margin: 8px 2px 4px 10px;
	width: 16px;
	height: 16px;
	font-size: 20px;
	text-align: center;
}
